body {
    border-style: double;  dotted;
    border-color: green;
    background-color: rgb(166, 255, 0);
    width: 100%;
    padding: 10px;
    margin: 10px;
}
#element {
    background-image: url(img/mag.jpeg);
    width: 300px;
    margin: 10px;
    font-size: 30px;
    text-align: centre;

}
h1 {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
}
#foe {
    font-size: medium;
    text-align: center;
    background-color: lemonchiffon;
}
#element1 {
    background-image: url(img/sax.jpeg);
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}
h3 {
    font-style: italic;
    text-decoration-color: #80006b;
    text-decoration-line: underline;
    text-align: center;
    font-size: x-large;
}
#container{
    text-align: centre;
    
}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-style: oblique;
    font-size: larger;
    text-shadow: navy;
}

  
#h6 {
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}
#h7 {
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}
#h8 {
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}
.warlus {
    display: none;
}
p {
    cursor: pointer;
    color: #0088cc;
    font-style: redressed;
    }
    
p:hover {
    text-decoration: underline;
    background-color: lightcyan;
    }

.container5 {
    background-image: url(img/back2.jpeg);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.h5 {
    font-style: oblique;
    text-align: center;
    font-size: larger;
  }
}